<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Recent activity</h3>
        {% for activity in activitys %}
        <div>
            <small><a href="{% url 'page' activity.user.id  %}">@{{activity.user}}</a> {{activity.created | timesince}} ago</small>
            <p>
                Repied in <a href="{% url 'room' activity.room.id %}"><strong>{{activity.room}}</strong></a> room
            </p>
        </div>
        {%endfor%}
    </div>
    
</body>
</html>