<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% extends 'main.html' %}

    {% block content %}
    {% if page == "login" %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <label >Username:</label>
            <input type="text" name="username" placeholder="Username">

            <label>Password:</label>
            <input type="password" name="password" placeholder="Password">

            <input type="submit" value="Login">

            <p>Not regiseter yet ?</p>
            <a href="{%url 'register'%}">register now</a>
        </form>
    {% else %}

        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Register">
            
            <p>Already registered ?</p>
            <a href="{%url 'login'%}">Login</a>
        
        </form>

    </div>
    {% endif %}
    {% endblock %}
</body>
</html>